/*Colors*/

$colorBody: #f5f6fa;
$colorHeader: #182c61;
$colorLinkMenu: #fff;
$colorButton: #44db32;
$colorBtnHover: #4cd137;

/*Font*/

$fontMain: Roboto, sans-serif;

/*Media screen*/

$smartPhone: 767px;
$tablet: 1023px;